#icon1 {
    position: absolute;
    right: 100px;
    top: 440px;
}

#icon2 {
    position: absolute;
    right: 100px;
    top: 80%;
}

#icon3 {
    position: absolute;
    right: 280px;
    top: 80%;
}

#icon4 {
    position: absolute;
    right: 70px;
    top: 80%;
}