#first{
  padding: 3rem 0;
  background: linear-gradient(165deg, #F0F8FF 50%, #fff 50%);
}

#second{
  background-color: #D3D3D3;
  width: 101%;
}

#second img{
  object-fit: cover;
  object-position: center;
  height: 540px;
  width: 100%;
  opacity: 0.5;
}

#third{
  background-color: #E0FFFF;
  width: 101%;
}

#third img{
  height: 540px;
  width: 100%;
  opacity: 0.5;
  margin-left: 0;
  margin-right: 0;
}

.title-texts{
  max-width: 60%;
  padding-left:20px;
}

.myImg{
  position:absolute;
  right:30px;
  top:140px;
}

.buttons{
  margin-left: 20px;
  margin-top: 40px;
}

.myBtn{
  padding: 10px;
  margin-right: 40px;
  font-size: 28px;
  border-radius: 15px;
  display: inline-block;
}
