#pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.myIcon {
  position: absolute;
  left: -1px;
  top: 1px;
}

.formImg {
  width: 100px;
}

.my-box {
  border-radius: 30px;
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: grey solid 1px;
}

.personal-info {
  width: 70%;
}

.finance-row td,
.finance-row th {
  text-align: left;
}

.finance-row th {
  font-size: 14px;
}

.finance-row td:nth-child(1) {
  width: 30%;
}

.finance-row td:nth-child(2) {
  width: 70%;
}

.other-table {
  width: 70%;
}

a.disabled {
  /* Make the disabled links grayish*/
  color: gray !important;
  /* And disable the pointer events */
  pointer-events: none;
}
