nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
    margin-left: -10px;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
    margin-left: -5px;
}
nav .navbar-brand .green
{
    color: #2e944b;
    margin-left: -5px;
}

