* {box-sizing: border-box}
.navbar{
    height: 9vh;
}

.navbar a span{
    font-size: 1em;
}

.navbar-brand.abs
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

main{
  margin-top: 9vh;
  width: 98vw;
}
body{
  background-color: #E0FFFF;
}

#side-bar{
  margin-top: 9vh;
  height: 82vh;
  width:300px;
  background-color: #F6F6F6;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
}

.patient-info{
  margin-left: 300px;

}

.input-group{
  padding: 10px;
}

.patient-name{

}

.search-bar{
  position: fixed;
  width: 300px;
  background-color: #F6F6F6;
}

.header{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.room{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  align-self: flex-start;
}

.patient_pic{
  width: 100px;
  height: auto;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding:20px;
  margin-left: 10px;
  background-color: #E6E6FA;
  border-radius: 10px;
}

.words{
  width: 30%;
  background-color: #FFFFE0;
  padding: 8px;
  border-radius: 5px;
}

.heartbeat{
  width:600px;
  height: 200px;
}
.detail{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px
}

.detail{
  width: 600px;
}
